@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inconsolata:wght@200;300;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section{
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    
}

.se01{
    text-align: center;
    background-image: url(imagens/capa-menu/taca_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.se01 h1{
    padding-top: 0px;
    font-family: Anton;
    font-size: max(50px,5vw);
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 0px;
}

.se01 h2{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: max(17px,2vw);
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
}

#form p{
    color: azure;
    font-family: 'Roboto Condensed', sans-serif;
}

#form input{
    border-radius: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 20px;
}

#redesociais{
    margin-top: 80px;
}


.se02{
    background-color: rgb(151, 151, 151);
}

.titulo-sec2{
    position: relative;
    top: 0;
}

.quadro-de-jogadores{
    margin-top: 70px;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 70vh;
    overflow: auto; 
    border: 1px solid rgb(255, 255, 255);
    border-start-start-radius: 100px;
    border-end-start-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 0px;
    background-image: linear-gradient(180deg, rgb(63, 63, 63), rgb(180, 180, 180));
}

.quadro-de-jogadores h1{
    font-size: 40px;
    width: 100%; 
    margin-bottom: 10px;
}

#jog-1{
    display: flex;  
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    border-start-start-radius: 100px;
    border-end-start-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 0px;
    height: 150px;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

#jog-1:hover{
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 10px 10px 30px rgba(255, 255, 255, 0.3);
}

.nome-jog{
    font-family: Anton;
    color: white;
    text-align: center;
}

.quant-gols{
    text-align: center;
    font-family: Anton;
    color: white;
}

#roger{
    border-radius: 100px;
    background-color: rgb(63, 63, 63);
    border: 1px solid white;
    width: 120px;
}

.se03{
    background-color: rgb(86, 70, 175);
}

.se03 h1{
    font-size: 40px;
    margin-bottom: 30px;
}


.prox-jog{
    background-color: rgba(0, 0, 0, 0.4);
    height: 50vh;
    overflow: auto;
}

#quadrinhos{
    background-color: rgba(255, 255, 255, 0.3);
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

#quadrinhos2{
    background-color: rgba(255, 255, 255, 0.3);
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

#quadrinhos3{
    background-color: rgba(255, 255, 255, 0.3);
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

#quadrinhos4{
    background-color: rgba(255, 255, 255, 0.3);
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}


.title-03{
    color: white;
    font-size: 35px;
    font-family: Anton;
}

.parag-03{
    color: white;
    font-size: 20px;
    font-family: Anton;
    text-align: left;
    padding-left: 100px;
}

.vid{
    margin-top: 50px;
    border-radius: 20px;
}

@media (max-width: 473px){
    .vid{
        max-width: 350px;
        height: 200px;
    }
}

.versus{
    color: white;
    font-family: Anton;
    line-height: 50px;
}

li{
    margin-left: 30px;
    color: white;
}

.se04{
    background-color: purple;
}

.se05{
    background-color: rgb(49, 136, 46);
}

.se05 img{
    border: 1px solid white;
    border-radius: 100px;
    padding: 15px;
    box-sizing: content-box;
}

.se05 img:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

#pganhadores{
    color: white;
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
}

h3{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.se06{
    background-color: rgb(0, 0, 0);
    height: 90vh;
}

.se06 input{
    border-radius: 100px;
}

.se06 h2{
    color: white;
    font-family: Anton;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.se06 p{
    color: white;
    font-family: Anton;
    font-size: 20px;
}

.se07{
    background-color: white;
    height: 10vh;
    display: flex;  
    justify-content: center;
    align-items: center;
    text-align: center;
}
.se07 img{
    padding-left: 15px;
}
